{% load static %}

<!DOCTYPE html>

<html>

    <head> 

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title> ProjectUE </title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>

        <div class="d-flex">
          {% include 'webapp/sidebar.html' %}
      
          <!-- Main Content -->
          <div class="content flex-grow-1 p-4">
            {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p class="alert alert-success text-center">{{ message }}</p>
              {% endif %}
            {% endfor %}
      
            {% block content %}{% endblock %}
          </div>
        </div>
      
      </body>
      



</html>
