{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome, {{user}}! 👋 </h5>

    <hr>


    <a class="btn btn-outline-primary btn-sm" href="{% url 'create_event' %}">

        Create a new task &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr> 

    <br>Tasks:
    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Title </th>
                <th scope="col"> Description </th>
                <th scope="col"> Date </th>
                <th scope="col"> Start Time </th>
                <th scope="col"> Project </th>
                <th scope="col"> Duration(h) </th>
                <th scope="col"> User </th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>

        {% if events %}

            {% for event in events %}

            <tr>

                <td> {{event.id}} </td>

                <td> {{event.title}} </td>

                <td> {{event.description}} </td>

                <td> {{event.date}} </td>
                <td> {{event.time}} </td>
                <td> {{event.project}} </td>
                <td> {{event.duration}} </td>
                <td> {{ event.organizer }} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'event_detail' event.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}



        </tbody>


    </table>
    <hr>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'create_project' %}">

        Create a new project &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>
    <hr>
    <br>
    Projects:
    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> Name </th>
                <th scope="col"> Description </th>

            </tr>

        </thead>

        <tbody>

        {% if projects %}

            {% for project in projects %}

            <tr>


                <td> {{project.name}} </td>

                <td> {{project.description}} </td>
            </tr>

            {% endfor %}
        
        {% endif %}



        </tbody>


    </table>
{% endblock %}
