{% extends 'webapp/base.html' %}

{% block content %}

    <h5>Welcome, {{ user }}! 👋</h5>
    <hr>

    <h5>Here will appear your assigned projects and onboardings!</h5>
    <hr> 
    {% if user.is_superuser %}
    <a class="btn btn-outline-primary btn-sm" href="{% url 'create_project' %}">
        Create a new project &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    {% endif %}

    <hr>
    <br>
    My Projects:
    <table class="table table-hover table-bordered">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Onboarding</th>
        </tr>
    </thead>
    <tbody>
        {% if projects %}
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>
                        {% for m in memberships %}
                            {% if m.project.id == project.id %}
                                <a href="{% url 'onboarding_dashboard' m.id %}" class="btn btn-outline-secondary btn-sm">
                                    <i class="fa fa-sign-in"></i> View
                                </a>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="3">No projects found.</td></tr>
        {% endif %}
    </tbody>
    </table>

{% endblock %}