<nav class="bg-primary sidebar text-white p-3 vh-100">
  <h4 class="navbar-brand text-white">ProjectUE</h4>
  <ul class="nav flex-column">
    {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link text-white" href="{% url 'contact_dashboard' %}">📇 Contact Info</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{% url 'task_dashboard' %}">🕒 Time Tracker</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{% url 'manage_projects' %}">📁 Project Management</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{% url 'statistics_dashboard' %}">📊 Statistics</a></li>

      {% if user.is_superuser %}
        <li class="nav-item"><a class="nav-link text-white" href="{% url 'manage_users' %}">👤 User Management</a></li>
      {% endif %}

      <li class="nav-item"><a class="nav-link text-white" href="{% url 'artist_search_url' %}">🎵 Spotify Search</a></li>
      <li class="nav-item mt-3"><a class="nav-link text-white" href="{% url 'user-logout' %}">🚪 Sign Out</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link text-white" href="{% url 'register' %}">Register</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{% url 'my-login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>
